$main-color: #D99E91;
$main-color--opaque: #d99e91dc;
$secondary-color: #A6705D;
$white-color: #FFFFFF;
$white-color--opaque: #ffffffdc;
$black-color: #252525;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../public/images/background.svg);
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .main {
        width: 1200px;
        height: 75vh;

        .welcome {
            display: flex;
            background: linear-gradient(0deg, #D99E91, #e0b1a7dc);
            border-radius: 25px 0px 0px 25px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            justify-content: center;
            padding: 50px;

            .welcome-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;

                h1,
                h3 {
                    text-align: center;
                    font-weight: bold;
                    color: $white-color;
                    -webkit-text-stroke: 1px #252525;
                }

                &__images {
                    margin-top: 40px;
                    display: flex;
                    align-items: baseline;
                    translate: 50px;
                }
            }
        }

        .login {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: $white-color--opaque;
            // border: 1.5px solid $black-color;
            border-radius: 0px 25px 25px 0px;
            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.19) 5px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

            h3 {
                text-align: center;
            }

            a {
                padding: 5px 10px;
                margin: 5px 0;
                border-radius: 10px;
                font-size: 1.1rem;
                color: $black-color;
                text-decoration: none;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

                &:hover {
                    background-color: #f2f2f2;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                }
            }

            .login-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 3vh 0;

                &__username,
                &__password {
                    max-width: 250px;

                    input {
                        border-radius: 0 22px 22px 0;
                        height: 62px;
                        border: 1px solid $black-color;

                    }

                    .input-password {
                        border-width: 1px 0px 1px 1px;
                    }

                    &__key-pass {
                        border-radius: 22px;
                        border: 1px solid $black-color;
                        border-width: 1px 1px 1px 0;
                        font-size: 1.3rem;
                        background-color: $white-color;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                }

                &__key {
                    border-radius: 22px;
                    height: 62px;
                    border: 1px solid $black-color;
                    background-color: $main-color;

                    .bi {
                        color: $white-color;
                        font-size: 1.4rem;
                    }

                }


                &__checkbox {
                    input {
                        border: 1px solid $black-color;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                }

                &__button {
                    width: 166px;
                    height: 52px;
                    border: 1px solid $black-color;
                    background-color: $main-color;
                    font-weight: bold;
                    margin-top: 3vh;

                    &:hover {
                        background-color: $secondary-color;
                    }
                }
            }
        }
    }
}